<section id="banner-home">
  <%= render "banner_home" %>
</section>
<section id="city-suggest">
  <h3>Vai viajar?</h3>
  <div class="grid-card-sq-lg">
    <% @cities.each do |city| %>
      <div class="card-sq-lg">
        <%= link_to city.name, city_path(city.id), class: "card-sq-lg-content" %>
      </div>
    <% end %>
  </div>
</section>

<section id="banner-call">
  <div class="banner-home">
    <h1>BANNER</h1>
  </div>
</section>

<section>
<div class="grid-card-sq-sm"><%= render 'shared/filter_category' %></div>
</section>